*{
    padding: 0px;
    margin:0px;
}
.film{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: 48px auto;
}
.film > img{
    width: 14vw;
    height: inherit;
}
.film > div {
    width: 74vw;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgb(199, 198, 198);
    margin-bottom: 16px;
}
.content{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.detail{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(87, 86, 86)
}
.name{
    font-size: 1.8em;
}
.dimension{
    width: 50px;
    height: 40px;
    line-height: 40px;
    background: rgb(126, 125, 125);
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
}
.schedule{
    display:flex;
    flex-flow: row wrap;
    width: 65%;
    height: 45%;
}
.schedule > div {
    margin: 4px 4px;
    width: 20%;
    height: 30px;
    border: 1px solid rgb(233, 65, 65);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 1.3em;
}
.schedule > div:hover {
    background:  rgb(241, 109, 109);
    cursor: pointer;
}

@media screen and (max-width : 1024px){
    .detail{
        width: 50%;
    }
    .schedule{
        width: 50%;
    }
    .title{
        margin-bottom: 4px;
    }
}
@media screen and (max-width : 414px){
    .film{
        flex-direction: column;
        align-items: center;
    }
    .film > img{
        width: 80%
    }
    .name{
        font-size: 1.3em;
    }
    .title{
        align-items: center;
    }
    .content{
        flex-direction: column;
    }
    .detail{
        width: 100%;
        margin-bottom: 16px;
    }
    .schedule{
        width: 100%
    }
}
